---
---
.padded-top {
	padding-top: 3rem;
}

.padded-top--half {
	padding-top: 1.5rem;
}

.banner-txt {
	position: absolute;
	padding-left: 0.333rem;
	color: #EEE;
	text-shadow: 0px 1px 1px rgba(155,155,155,0.75);
}