<div class="fixed">
  <nav class="top-bar" data-topbar>
    <ul class="title-area">
      <li class="name">
        <h1>
          <a class="site-title" href="{{ site.baseurl }}/">
            <img src="{{ site.url}}/{{ site.logoUrl }}" />
            {{ site.title }}
          </a>
        </h1>
      </li>
      <li class="toggle-topbar menu-icon"><a href="#"><span>menu</span></a></li>
    </ul>
  
    <section class="top-bar-section">
        
      <ul class="right">
        <li class="divider"></li>
        <<li><a href="{{site.appUrl}}">Apply</a></li>
        <!--<li><a href="" onClick="alert('The application deadline has passed and we are not accepting new applications. Please check back next year for information regarding the 2017 program.')">Apply</a></li>-->
        <li class="divider"></li>        
        <li class="has-dropdown">
          <a href="#about">About The Program</a>
          <ul class="dropdown">
            <li><a href="#howTo">How To Apply</a></li>
            <li><a href="#selection">Selection Process</a></li>
            <li><a href="#eligibility">Eligibility</a></li>
            <li><a href="#approach">Our Approach</a></li>
          </ul>
        </li>
        <li class="divider"></li>
        <li><a href="#contact">Contact Us</a></li>
      </ul>
    </section>
  </nav>
</div>
