<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    {% include header.html %}

    <div class="page-content">
      <div class="wrapper">
        {{ content }}
      </div>
    </div>

    {% include scripts.html %}
		<footer style="border-top: 1px solid black; padding: 0.25rem; padding-left: 0.5rem;">
      <a target="_blank" href="/images/pdf/privacy_policy.pdf" style="paddingRight: 0.5rem">Privacy Policy</a>
			<a target="_blank" href="/images/pdf/terms_of_use.pdf">Terms of Use</a>
		</footer>
  </body>

</html>
